# .DS_Store
.DS_Store

# .local dev folders/files
.development
.archive
infrastructure/terraform/bootstrap/README.md
infrastructure/terraform/bootstrap/README.pdf

# log files - DO MOT PUSH TO PUBLIC REPO
**logs/
**.log

# Terrform config files - NEVER COMMIT THESE

.terraform/
